@media (min-width: 1600px) {
  .customer-slider-sec .customer-slider {
    max-width: 1550px;
    margin: 0 auto;
  }
}

@media (max-width: 1299px) {
  .banner .banner-img {
    margin: 25px 25px 0 -20px;
  }

  .popular-events .events_slider button.slick-next.slick-arrow {
    right: -30px;
  }

  .popular-events .events_slider button.slick-prev.slick-arrow {
    left: -30px;
  }
}

@media (max-width: 1199px) {
  header .navbar a {
    margin-right: 60px;
  }

  header .navbar .menu-right .nav_link {
    margin: 0 0 0 40px;
  }

  header nav .logo a {
    margin-right: 0;
  }

  header nav .logo {
    left: 31%;
    transform: translate(0px, 0px);
  }

  .banner .banner-img {
    margin: 35px 15px 0 -15px;
  }

  .banner .banner-content-outer .inner-content {
    padding: 65px 0 60px;
  }

  .banner .banner-content-outer .inner-content .content-wrap h1 {
    font-size: 60px;
    line-height: 70px;
  }

  .popular-events .events_slider .item {
    margin: 0 10px;
    width: 300px;
  }

  .popular-events .events_slider .item .img-wrapper .img-content {
    padding: 50px 70px;
  }

  .popular-events .events_slider .item.slick-slide.slick-current.slick-active.slick-center .img-wrapper img {
    height: 440px;
  }
  .about-us .about-text-wrap{
    margin-right: -140px;
  }

  /*location responsive start*/

  .location{
    padding: 60px 0 180px;
  }
  .img_gallery_sec {
    margin: 50px 0 0;
}
 /*location responsive end*/ 

 
 /*our programm responsive start*/
 .programm .prgrm_txt_wrapper_one {
  max-width: 400px;
  margin-top: -220px;
}
.puppet_sec .img_bg_wrapper::before {
  content: '';
  background-color: #2a1615;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  top: 0;
  max-width: 830px;
  height: 270px;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  transform: translateY(10%);
  opacity: 0.9;
}

.puppet_sec .img_wrapper_txt p {
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  font-family: 'Americana Std';
  padding: 0px 0 23px;
}

.puppet_sec .view_more_btn{
  margin-top: -10px;
}

.fine_prnt .fine_print_wrapper {
  max-width: 850px;
  margin-top: -250px;
}
 /*our programm responsive end*/

}

@media (max-width: 991px) {

    /*location responsive start*/
  .location_sub_long_txt .first_txt {
    padding-bottom: 35px;
}

.location {
  padding: 60px 0 100px;
}

.images_galary .hover_txt{
  height: 100px;
  min-width: 130px;
}
.images_galary .hover_txt p::before {
  left: -20px;
  top: 50%;
  transform: translate(20%, -50%);
  height: 2px;
  width: 15px;
}
.images_galary .hover_txt p::after {
  right: -15px;
  top: 50%;
  transform: translate(15%, -50%);
  height: 2px;
  width: 15px;
}
.images_galary .hover_txt p{
  font-size: 18px;
}
.images_galary .image_flex{
  gap: 15px;
}
  /*location responsive end*/

  /*program sec start*/
.programm .prgrm_txt_wrapper_one {
    max-width: 280px;
    margin-top: -150px;
}

.programm .prgrm_txt_wrapper_one .first_para {
  padding: 0 0 20px;
}

.programm .prgrm_txt_wrapper_one h4::before {
  position: absolute;
  content: '';
  left: 15%;
  top: 50%;
  bottom: 0;
  width: 20px;
  height: 2px;
  background-color: #bd5a35;
  transform: rotate(180deg);
}

.programm .prgrm_txt_wrapper_one h4::after {
  position: absolute;
  content: '';
  right: 15%;
  top: 50%;
  bottom: 0;
  width: 20px;
  height: 2px;
  background-color: #bd5a35;
  transform: rotate(180deg);
}

.programm .prgrm_txt_wrapper_one p {
  font-size: 12px;
  line-height: 28px;
}

.programm .prgrm_txt_wrapper_one .second_para {
  padding: 0 0 20px;
}
.programm .prgrm_txt_wrapper_one .bottom_txt{
  padding-bottom: 20px;
}

.fine_prnt .fine_print_wrapper {
  max-width: 600px;
  margin-top: -200px;
}

.fine_prnt .fine_print_wrapper h4::before {
  position: absolute;
  content: '';
  left: 35%;
  top: 50%;
  bottom: 0;
  width: 20px;
  height: 2px;
  background-color: #bd5a35;
  transform: rotate(180deg);
}


.fine_prnt .fine_print_wrapper h4::after {
  position: absolute;
  content: '';
  right: 35%;
  top: 50%;
  bottom: 0;
  width: 20px;
  height: 2px;
  background-color: #bd5a35;
  transform: rotate(180deg);
}

.fine_prnt .fine_print_wrapper .first_para {
  padding: 20px 0 0;
}
.fine_prnt .fine_print_wrapper .secnd_para{
  padding: 20px 0 0;
}
.fine_prnt .fine_print_wrapper .third_para {
  padding: 20px 0 0;
}
.fine_prnt .fine_print_wrapper .forth_para {
  padding: 20px 0 0;
}
.fine_prnt .fine_print_wrapper .fifth_para {
  padding: 20px 0 0;
}
.fine_prnt .fine_print_wrapper .sixth_para {
  padding: 20px 0 0;
}
.puppet_sec .img_bg_wrapper::before {
  top: 0px;
  left: 0;
  right: 0;
  top: 0;
  max-width: 580px;
  height: 200px;
  transform: translateY(10%);
}

.puppet_sec .img_wrapper_txt h5 {
  font-size: 40px;
  color: #fff;
  font-family: 'westmeathregular';
  padding: 0 0 10px;
}

.puppet_sec .img_wrapper_txt p {
  font-size: 13px;
  line-height: 20px;
  color: #fff;
  font-family: 'Americana Std';
  padding: 0px 0 15px;
}

.puppet_sec .basic-btn {
  font-size: 18px;
  line-height: 50px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #bd5a35;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
}

/*program sec end*/
}

@media (max-width: 767px) {

 /*location responsive start*/
  .images_galary .image_flex{
    gap: 20px;
  }
  .images_galary .image_row{
    justify-content: center;
    gap: 20px;
  }
  .images_galary .image_flex{
    justify-content: center;
  }
  .image_flex .img_box{
    flex: 0 0 33.3%;
  }
  .image_row .img_box_one{
    flex: 0 0 33.3%; 
  }
  .images_galary .image_flex{
    flex-wrap: wrap;
  }
  .images_galary .image_row{
    flex-wrap: wrap;  
  }
  .images_galary .image_flex {
    margin-top: 35px;
  }

  .images_galary .hover_txt{
    height: 100px;
    min-width: 150px;
  }

/*location responsive end*/

/*programm responsive start*/

.programm .prgrm_txt_wrapper_one {
  max-width: 440px;
  margin-top: -240px;
}

.programm .prgrm_txt_wrapper_one h4::before {
  left: 27%;
  top: 50%;
  bottom: 0;
  width: 20px;
  height: 2px;
}
.programm .prgrm_txt_wrapper_one h4::after {
  right: 27%;
  top: 50%;
  bottom: 0;
  width: 20px;
  height: 2px;
}

.fine_prnt .fine_print_wrapper {
  max-width: 440px;
  margin-top: -140px;
}
.fine_prnt .fine_print_wrapper h4::before {
  left: 30%;
  top: 50%;
  bottom: 0;
  width: 20px;
  height: 2px;

}

.fine_prnt .fine_print_wrapper h4::after {
  right: 30%;
  top: 50%;
  bottom: 0;
  width: 20px;
  height: 2px;
}
.fine_prnt .fine_print_wrapper p{
  font-size: 14px;
} 

.puppet_sec .img_bg_wrapper::before {
  left: 50%;
  right: 0;
  top: 50%;
  width: 100%;
  height: 177px;
  transform: translate(-50%,-50%);
}
.puppet_sec .img_wrapper_txt h5 {
  font-size: 30px;
}
.puppet_sec .img_wrapper_txt {
  top: 24%;
}

.puppet_sec .img_wrapper_txt p {
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  font-family: 'Americana Std';
  padding: 0px 0 15px;
  max-width: 420px;
  display: block;
  margin: 0 auto;
}
.puppet_sec .img_wrapper_txt h5 {
  padding: 0 0 8px;
}

.puppet_sec img{
  min-height: 300px;
}



/*programm responsive end*/
}

@media (max-width: 575px) {

 /*location responsive start*/
  .location .location_sub_long_txt {
    margin: 45px 0 0;
    font-size: 14px;
    font-family: 'Americana Std';
    line-height: 30px;
    text-align: center;
    padding: 0 10px;
}

.image_flex .img_box{
  flex: 0 0 100%;
}
.image_row .img_box_one{
  flex: 0 0 100%; 
}

.images_galary img{
  width: 100%;
}
.images_galary .container-fluid {
  padding: 0 15px;
}

.images_galary .hover_txt {
  height: 130px;
  min-width: 180px;
}
 /*location responsive end*/

/*programm responsive start*/
 
.puppet_sec .img_bg_wrapper::before {
  min-height: 155px;
  max-width: 380px;
}

.puppet_sec .view_more_btn {
  margin-top: 0px;
}
.programm .prgrm_txt_wrapper_one {
  max-width: 410px;
}

.fine_prnt .fine_print_wrapper {
  max-width: 400px;
  margin-top: -140px;
}

.fine_prnt .fine_print_wrapper .first_para {
  padding: 10px 0 0;
}
.fine_prnt .fine_print_wrapper .secnd_para {
  padding: 10px 0 0;
}

.fine_prnt .fine_print_wrapper .third_para {
  padding: 10px 0 0;
}

.fine_prnt .fine_print_wrapper .forth_para {
  padding: 10px 0 0;
}
.fine_prnt .fine_print_wrapper .fifth_para {
  padding: 10px 0 0;
}

.fine_prnt .fine_print_wrapper .sixth_para {
  padding: 10px 0 0;
}

.puppet_sec .img_wrapper_txt h5 {
  font-size: 23px;
}

.puppet_sec .img_wrapper_txt p {
  font-size: 10px;
  line-height: 15px;
  color: #fff;
  font-family: 'Americana Std';
  padding: 0px 0 10px;
  max-width: 350px;
  display: block;
  margin: 0 auto;
}
.puppet_sec .basic-btn {
  line-height: 45px;
  height: 45px;
  width: 150px;
}
.puppet_sec .img_wrapper_txt {
  top: 28%;
}


/*programm responsive end*/






}

@media (max-width: 480px){
  .location .location_sub_long_txt {
    padding: 0 13px;
  }

  /*programm*/
  .programm .prgrm_txt_wrapper_one {
    max-width: 350px;
}
.programm .prgrm_txt_wrapper_one h4::before {
  left: 23%;
  top: 50%;
  bottom: 0;
  width: 20px;
  height: 2px;
}
.programm .prgrm_txt_wrapper_one h4::after {
  right: 23%;
  top: 50%;
  bottom: 0;
  width: 20px;
  height: 2px;
}

.fine_prnt .fine_print_wrapper {
  max-width: 330px;
  margin-top: -100px;
}

.fine_prnt .fine_print_wrapper h4::before {
  left: 23%;
  top: 50%;
  bottom: 0;
  width: 20px;
  height: 2px;
}

.fine_prnt .fine_print_wrapper h4::after {
  right: 23%;
  top: 50%;
  bottom: 0;
  width: 20px;
  height: 2px;
}

.puppet_sec .basic-btn {
  line-height: 40px;
  height: 40px;
  width: 140px;
}
.puppet_sec .img_wrapper_txt h5{
  font-size: 20px;
}
.programm .prgrm_txt_wrapper_one {
  margin-top: -170px;
}
.puppet_sec .img_bg_wrapper::before {
  height: 105px;
  max-width: 100%;
}
.puppet_sec .img_wrapper_txt p{
  max-width: 100%;
}
}

@media (max-width: 420px) {

}

@media (max-width: 375px) {
  
  /*programm*/
  .programm .prgrm_txt_wrapper_one {
    max-width: 260px;
    margin-top: -130px;
}

.programm .prgrm_txt_wrapper_one h4::before {
  left: 18%;
  top: 50%;
  bottom: 0;
  width: 20px;
  height: 2px;
}


.programm .prgrm_txt_wrapper_one h4::after {
  right: 18%;
  top: 50%;
  bottom: 0;
  width: 20px;
  height: 2px;
}

.fine_prnt .fine_print_wrapper {
  max-width: 238px;
  margin-top: -70px;
}
.fine_prnt .fine_print_wrapper h4::before {
  left: 17%;
  top: 50%;
  bottom: 0;
  width: 20px;
  height: 2px;
}

.fine_prnt .fine_print_wrapper h4::after {
  right: 17%;
  top: 50%;
  bottom: 0;
  width: 20px;
  height: 2px;
}

.programm .prgrm_txt_wrapper_one h4::before {
  left: 13%;
  top: 50%;
  bottom: 0;
  width: 20px;
  height: 2px;
}
.programm .prgrm_txt_wrapper_one h4::after {
  right: 13%;
  top: 50%;
  bottom: 0;
  width: 20px;
  height: 2px;
}

.fine_prnt .fine_print_wrapper h4::before {
  left: 10%;
  top: 50%;
  bottom: 0;
  width: 20px;
  height: 2px;
}
.fine_prnt .fine_print_wrapper h4::after {
  right: 10%;
  top: 50%;
  bottom: 0;
  width: 20px;
  height: 2px;
}

}